@model Bilge.Northwind.MvcWebUi.Models.ProductListViewModel

@{
    Layout = "~/Views/_Layout.cshtml";
}

<!DOCTYPE html>

<div>
    <table class="table table-responsive">
        <tr>
            <th>Product Name</th>
            <th>Unit Price</th>
            <th>Units In Stock</th>
        </tr>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.ProductName</td>
                <td>@product.UnitPrice</td>
                <td>@product.UnitsInStock</td>
                <td><a class="btn btn-xs btn-success" asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@product.ProductId">Add To Cart</a></td>
            </tr>
        }
    </table>
</div>
<product-list-pager 
                    current-category="@Model.CurrentCategory" 
                    current-page="@Model.CurrentPage"
                    page-count="@Model.PageCount"
                    page-size="@Model.PageSize"></product-list-pager>

